body {
  background-color: #F8F8F8;
  margin: 2% 5%; 
}

.App {
  margin: 10px 20px;
  text-align: center;
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

